@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

// Variables

$size: cover;
$center_margin: 0px auto;
$max_width:1600px;    
$highlight_color: #008fd5;      
$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);
$white: #fff;
$main_font: "Open Sans";
$dark_text: #23323a;
$cursor: pointer;
$label_border: 1px solid #ebeef0; 

// Mixins

@mixin background-size {
    -moz-background-size: $size; 
    -webkit-background-size: $size; 
    -o-background-size: $size; 
    background-size: $size; 
}

@mixin background($file) {
    background: url($file) center;
    @include background-size();
}

// Placeholders

%blue_box_back_image_shadow {
    -webkit-box-shadow:   6px 0px 16px 6px rgba(0,0,0,0.36),
                        0px 8px 8px -3px rgba(0,0,0,0.8);
    -moz-box-shadow:   6px 0px 16px 6px rgba(0,0,0,0.36),
                     0px 8px 8px -3px rgba(0,0,0,0.8);
    -o-box-shadow:   6px 0px 16px 6px rgba(0,0,0,0.36),
                     0px 8px 8px -3px rgba(0,0,0,0.8);
    -ms-box-shadow:   6px 0px 16px 6px rgba(0,0,0,0.36),
                     0px 8px 8px -3px rgba(0,0,0,0.8);
    box-shadow:   6px 0px 16px 6px rgba(0,0,0,0.36),
                 0px 8px 8px -3px rgba(0,0,0,0.8);
}


%blue_box_front_image_shadow {
    -webkit-box-shadow: -27px 1px 28px -4px rgba(0,0,0,0.5),
                         0px 8px 8px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: -27px 1px 28px -4px rgba(0,0,0,0.5),
                      0px 8px 8px -3px rgba(0,0,0,0.8);
    -o-box-shadow: -27px 1px 28px -4px rgba(0,0,0,0.5),
                    0px 8px 8px -3px rgba(0,0,0,0.8);
    -ms-box-shadow: -27px 1px 28px -4px rgba(0,0,0,0.5),
                     0px 8px 8px -3px rgba(0,0,0,0.8);
    box-shadow: -27px 1px 28px -4px rgba(0,0,0,0.5),
                0px 8px 8px -3px rgba(0,0,0,0.8);
  }


  %animation-default {
    opacity: 1 !important;
    z-index: 3;
  }


// Styles

* {
 padding:0;
 margin:0;
}

body {
    background-color: $white;
}


/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ---------------   Header Styles -------------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */


.marine {
    height: auto;
    color: #0b2b33;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    margin: 20px 0;
}

.call_us {
    text-align:right;
    margin: 20px 0;
    color: #0b2b33;
    font: {
        family: $main_font;
        size: 11px;
        weight: 400;
    }    
    text-transform: uppercase;
}

.social {
    a {
        padding: 0 7px;
        &:hover {
            text-decoration-line: none;
        }
    }
}

.slash {
    margin: 0 6px;
}

/* ---------------------------------------------------  */
/* -----------------   Navigation --------------------  */
/* ---------------------------------------------------  */

.navigation {

    padding-top: 15px;
    background-color: #accdda;
    nav {
        ul {
            li {    
            list-style-type: none;
                img {
                    padding-left: 10px;
                    
                }
                a {
                    padding-right:40px;
                    font: {
                        family: $main_font;
                        size: 11px;
                        weight: 400;
                        
                    }
                    color: $dark_text;
                    text-transform: uppercase;
                &:hover {
                    color: $highlight_color;
                    text-decoration-line: none;
                }
                    
                }

            }
        }
    }
}    

/* ---------------------------------------------------  */
/* -----------------   Search form --------------------  */
/* ---------------------------------------------------  */

.search {
    text-decoration: none;
    cursor: $cursor;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
  
    &:target {
    visibility: visible;
    opacity: 1;
    }
  }
  
  .popup {
    position: absolute;
    right: 140px;
    top: 120px;
      
    .close {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        position: absolute;
        right: -25px;
        top: 10px;
    }

    .content {
        max-height: 30%;
        overflow: auto;
    }
  }

.search_bubble {
    position: relative;
    background-color: $dark_text;
    /* text */
    color: #73848e;
    font: {
        family: $main_font;
        size: 14px;
        weight: 400;
    }
    line-height: 20px;
    width: 269px;
    height: 55px;
    border-radius: 0px;
    padding: 0px;

    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-width: 0 0 17px 18px;
        border-color: transparent transparent  $dark_text transparent;
        top: -17px;
        left: 88%;
        margin-left: -9px;
    }  

    .bubble_image {
        position: absolute;
        right: 8%;
        top: 35%;
    }

    input {
        width: 211px;
        height: 55px;
    }
}



/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ---------------   Slide Styles --------------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */


.slide {
    
    @include background("../img/slide/carousel.png");
   
    .arrow_right {
        position: absolute;
        right:0;
        padding: 15% 0;
    }
    
    .arrow_left {
        position: absolute;
        left:0;
        padding: 15% 0;
    }

    .arrow_left, .arrow_right {
       
        button {
            background:none;
            border:none;
            cursor: $cursor;
        }
    }

}    


.natural_power {


    figure {
        text-align: center;
        margin-top:70px;
        margin-bottom:40px;
    }

    h1 {
        padding-bottom: 50px;
        margin:0;
        color: $white;
        font: {
            family: $main_font, sans-serif;
            size: 82px;
            weight: 800;
        }

        text: {
            transform: uppercase;
            align:center;
        }    
        letter-spacing: -1.04px;
    }

    h2 {
        width: 380px;
        padding: 5px 0;
        margin-bottom: 130px;
        border-top: 3px double $white;
        border-bottom: 3px double $white;
        color:$white;
        font: {
            family: $main_font, sans-serif;
            size: 14px;
            weight: 800;
        }   
        text-transform: uppercase
    }
}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ---------------   Services styles -----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.services {

    height: 238px;
    background-color: #12b4c3;
    background-image: linear-gradient(to top, 
                      $highlight_color 8%, 
                      rgba(0, 143, 213, 0.45) 59%,
                      rgba(255, 255, 255, 0) 100%);
    h2{
        color: $white;
        font: {
            family: $main_font;
            size: 20px;
            weight: 300;
        }    
        text-align: center;
    }

    h3{
        color: #8cd9ff;
        font: {
            family: $main_font;
            size: 12px;
        }
        text-transform: uppercase;
        text-align: center;
    }

    figure {
        padding-top: 42px;
        text-align: center;
    }
}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ---------------  Projects Styles ------------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.projects {

    padding-bottom: 30px;
    background-color: #2a3b45; 

    .info {
        padding: 0;
        border: 1px solid $dark_text;   

        &:hover {
            background-color: #2f424d;
        }
    }

    h2 {
        padding-top: 40px;
        color: #c4d3de;
        font: {
            family: $main_font;
            size: 30px;
            weight: 300;
        }   
        text-align: center;
    }

    h3 {
        padding-bottom: 40px;
        color: #658190;
        font: {
            family: $main_font;
            size: 14px;
            weight: 400;
        }    
        text-align: center;
    }

    h4, h5 {        
        padding-left:20px;
    }

    h4 {
        color: #f5f7f8;
        font: {
            family: $main_font;
            size: 18px;
            weight: 300;
        }    

    }

    h5 {
        color: #97a4ad;
        font: {
            family: $main_font;
            size: 11px;
        }
        text-transform: uppercase;
    }

      
    .likes {

        button {   
            
            /* for button text */
            color: #b0bac0;
            font-family: $main_font;
            font-size: 11px;
            font-weight: 300;  
            /*-----------------*/

            margin-bottom: 20px;
            padding-left: 30px;
            width: 45px;
            height: 20px;
            border:none;
            background: url("../img/projects/heart_grey.png") no-repeat;

            &:hover {
                background: url("../img/projects/heart_red.png") no-repeat;
                cursor: $cursor;
            }
    }

    }


}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* --------------  Call To Action Styles -------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.call_to_action {

    border: 1px solid rgba(101, 103, 104, 0.2);
    background-color: #fcfcfc;

    h2 {
        padding: 59px 0;
        color: $dark_text;
        font: {
            family: $main_font;
            size: 34px;
            weight: 300;
        }    

         span {
            color: $highlight_color;
         }

         letter-spacing: -0.95px;
    }

    button {
        margin: 47px 0;
        border:none;
        width: 200px;
        height: 61px;
        background-color: $highlight_color;
        color: $white;
        font: {
            family: $main_font;
            size: 12px;
            weight: 300;
        }    
        text-transform: uppercase;

        &:hover{
            background-color: #21a9ec;
            cursor: $cursor;

        }
    }
}


/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* -------------------  Posts Styles -----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.posts {
    background-color: $white;

    figure {
        margin-left: -15px;
    }
    
    h2 {
        color: $dark_text;
        font: {
            family: $main_font;
            size: 22px;
            weight: 400;
        }    
        padding: 24px 20px;
    }

    .recent_posts {

        text-align: center;
        background-color: $white;

        h3 {
            color: $highlight_color;
            font: {
                family: $main_font;
                size: 48px;
                weight: 300;
            }
        }

        h6 {
            color: $dark_text;
            font: {
                family: $main_font;
                size: 11px;
                weight: 400;
            }
            text-transform: uppercase;
        }

        h4 {
            color: $highlight_color;
            font: {
                family: $main_font;
                size: 18px;
                weight: 400;
            }
        }

        p {
            font: {
                family: $main_font;
                size: 13px;
                weight: 300;
            }
        }

        nav {
            ul {
                li {    
               // list-style-type: square;
                    display: inline;
                    img {
                        padding-left: 10px;
                        
                    }
                    
                    a {
                        color: $dark_text;
                        font: {
                            family: $main_font;
                            size: 10px;
                            weight: 400;
                            
                        }
                        padding: 0 10px;
                        text-transform: uppercase;
                    &:hover {
                        color: $highlight_color;
                        text-decoration-line: none;
                    }
                        
                    }
    
                }
            }
        }

        h4, p {
            text-align: left;
        }

    }

    .accordeon {

        /*
        * Animation Variables
        */
        
        
        /* Basic Accordion Styles */
        .wrapper {
                        
          margin-left: 50px;
            
          /* Radio Inputs */
          input[name='panel'] {
            display:none;
            
          }
        
          /* Labels */
          label {
            border-top: $label_border;
            border-bottom: $label_border;
            color: $dark_text;
            cursor: $cursor;
            padding: 15px;
            font: {
              family: $main_font;
              size: 13px;
              weight: 400;
            }  
            line-height: 20px;
            
            &:after {
              position: absolute;
              left: 22px;
              content: '';
              height: 43px;
              width: 43px;
              background: url("../img/posts/closed.png") no-repeat center;
              text-align: center;
              border-left:  0;
              border-right: $label_border;
              border-bottom: $label_border;
              border-top: $label_border;        
              
            }
            
            &:hover {
              color: $highlight_color;
            }
              
          }
          
          input:checked + label {
            
            &:after {
                border-left:  $label_border;
                border-right: $label_border;
                content:'';
                background: url("../img/posts/open.png") no-repeat center;
            }
            
          }
          
          /* Panel Content */
          .a_content {
            overflow: hidden;
            height: 0px;
            position: relative;
            color: #73848e;
            font: {
              family: $main_font;
              size: 13px;
              weight: 400;
            }  
            line-height: 20px;
            transition: height $timing $ease;
            
             
            .a_body {
              height:auto;
            }
            
          }
           
        }
        
        
        /* 
        * Size Variations
        */
        
        input[name='panel']:checked ~ .a_content{
          height: 170px;
        }
    }

    
    
    .people_say{

        .quotes {
            margin-top: 25px;
            padding: 0;
        }

        .bubble {
            position: relative;
            background-color: $dark_text;
            padding: 0px;
            width:auto;

            h3 {
                padding: 0 15px 0 15px;
                color: $white;
                font: {
                    family: $main_font;
                    size: 18px;
                    weight: 300;
                }
            }

            h6 {
                padding: 0 15px 0 15px;
                color: #8cd9ff;
                font: {
                    family: $main_font;
                    size: 10px;
                    weight: 300;
                }
                text-transform: uppercase;
            }
            

        }

        .bubble:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 20px 20px 0 0;
            border-color: $dark_text transparent transparent transparent;
            bottom: -20px;
            left: 83%;
            margin-left: -10px;
        }

        h3 {
            color: $highlight_color;
            font: {
                family: $main_font;
                size: 14px;
                weight: 400;
            }
            line-height: 20px;
        }

        p {
            color: #45484a;
            font: {
                family: $main_font;
                size: 13px;
                weight: 400;
            }
            line-height: 20px;
        }
    }

}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* -----------------  Blue Box Styles ----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.blue_box {

    @include background("../img/blue-box/bg_image.png");

    .right {
        margin: 60px 0;
        
        h2 {
            color: $white;
            font: {
                family: $main_font;
                size: 22px;
                weight: 300;
            }    
            display: inline-block;
        }

        p {
            margin-left: 90px;
            color: #8cd9ff;
            font: {
                family: $main_font;
                size: 13px;
                weight: 400;
            }    
        }

        hr {
            background-color:rgba(140,217,255,0.8);
        }

        img {
            padding: 0 20px; 
        }

    }

    .left {
        margin: 60px 0;
        
        .back_image {
            margin-top: 40px;
            position:absolute;
        //    z-index: 1;
        //    transform: scale(1);
        //    transition: 0.2s;

            @extend %blue_box_back_image_shadow;

            &:hover {
                z-index: 3;
                transform: scale(1.1);
                transition: 0.2s;
            }
        }

        .front_image {
            margin-left: 154px;
            position:absolute;
            z-index: 2;

            @extend %blue_box_front_image_shadow;

        }

        .keyboard_mouse {
            padding-top: 270px;
        }
    }
}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* -----------------  Our Team Styles ----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.team {

    @include background("../img/team/bg_image.png");
    padding-top: 40px;

    h2 {
        text-align: center;
        color: $white;
        font: {
            family: $main_font;
            size: 30px;
            weight: 300;
        }    
    }

    .team_member {
        text-align: center;
        padding-top: 47px;
        padding-bottom: 60px;

        h3 {
            padding-top: 25px;
            color: #f5f5f5;
            font: {
                family: $main_font;
                size: 18px;
                weight: 300;
            }
            text-align: center;
        }   
        
        span {
            color: #2691ac;
            font-family: $main_font;
            font-size: 11px;
            font-weight: 800;
        }

        p {
            color: #b9c3ca;
            font: {
                family: $main_font;
                size: 13px;
                weight: 400;
            }
        }

        hr {
            width: 70px;
            margin: 20px auto;
            background-color: rgba(185,195,202, 0.5);
        }

        #team_member_photo {
            border: 5px solid rgba(255,255,255,0.1);
        }

    }
}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ------------------  Cliens Styles -----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.clients {
    height:auto;
    img {
        padding: 15px 0;
    }
}

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ----------------  Contacts Styles -----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.contacts {

    @include background("../img/contacts/bg_image.png");

    h2 {
        margin: 43px 0;
        color: $white;
        font: {
            family: $main_font;
            size: 30px;
            weight: 300;
        }
    }

    form {

        input {
            margin: 5px;
            background-color: rgba(255, 255, 255, 0.6);
            border: none;
        }

        .name, .e-mail {
            width:549px;
            height: 45px;
            padding: 2px;
        }

        .message {
            width:549px;
            height: 95px;
            padding: 2px;
        }

        .send, .clear {
            margin: 30px 0;
            width: 119px;
            height: 45px;
            background-color: #64737f;
            border: 1px solid #707e89;

            color: $white;
            font: {
                family: $main_font;
                size: 13px;
                weight: 400;
            }    
            text-transform: uppercase;
            cursor: $cursor;
        }

    }   
}   

/* ---------------------------------------------------  */
/* ---------------------------------------------------  */
/* ------------------  Footer Styles -----------------  */
/* ---------------------------------------------------  */
/* ---------------------------------------------------  */

.footer {
    
/* ---------------------------------------------------  */
/* ------------------  Tweet Styles ------------------  */
/* ---------------------------------------------------  */

    .tweet {
        background-color: $highlight_color;
        height: 120px;


    /* -------- main  text -------- */
        p {
            color: #ebebeb;
            font: {
                family: $main_font;
                size: 16px;
                weight: 400;
            }
            display: inline;
        }

    /* ----- @circles, by Quill ---- */

        span {
            color: #bbdbef;
            font: {
                family: $main_font;
                style: italic;
            }    
        }

    /* ----- 5 minutes ago ---- */

        h4 {
            color: #bbdbef;
            font: {
                family: $main_font;
                size:12px;
                style: italic;
            }    
        }

        button {
            margin: auto 7px;
            border:none;
            background: none;
            cursor: $cursor;
        }
    }   

        
/* ---------------------------------------------------  */
/* -------------------  Footer Info ------------------  */
/* ---------------------------------------------------  */
.footer_info {

    border: 1px solid rgba(245, 245, 245, 0.08);
    background-color: #19242a;

    .footer_marine {
        margin: 15px 0;     
    }
    
 

    .text {
        
        img {
            margin-right: 20px;
        }

        p {
            color: #7ca1b3;
            font: {
                family: $main_font;
                size: 12px;
                weight: 400;
         }
        }

        span {
            color: #bdd2dc;
            font: {
                family: $main_font;
                size: 13px;
                style: italic;
            }
        }
        h2 {
            color: #547e93;
            font: {
                family: 'Montserrat', sans-serif;
                size: 20px;
                weight: 400;
            }
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    
        h3 {
            margin: 20px 0;
            color: #7ca1b3;
            font: {
                family: $main_font;
                size: 18px;
                weight: 300;
            }
    
        }

        h6 {
            color: #7ca1b3;
            font: {
                family: $main_font;
                size: 10px;
                weight: 400;
            }
            text-transform: uppercase;
        }

        hr {
            width: 271px;
            background-color: $dark_text;
        }
    }

}

.copyright {
    height: 90px;
    background-color: #141d22;

    p {
        color: #547e93;
        font: {
            family: $main_font;
            size: 12px;
            weight: 400;
        }    
    }
}

}
