
// Variables

$size: cover;
$center_margin: 0px auto;
$max_width:1600px;    
$highlight_color: #008fd5;      
$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);
$white: #fff;
$main_font: "Open Sans";
$dark_text: #23323a;
$cursor: pointer;
$label_border: 1px solid #ebeef0; 